/* mixins.scss */

@mixin font-size($sizeValue: 1.6) { // set default value
  font-size: ($sizeValue * 10) + px;
  line-height: ($sizeValue * 15) + px;
  font-size: $sizeValue + rem;
  line-height: ($sizeValue * 1.5) + rem;
}

