/* scaffolding.scss */


html {
	font-size: 62.5%;
}

body {
	@include font-size(16);
}

.site-wrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: @site-width-total; // none
}


@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;